@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html { 
    /* Declaração de variáveis com css (--nome: propriedade;) */
    --black: #0D114F;
    --grey: #5D6674;
    --white: #FAFAFA;
    --red: #E83F5B;
    --light-blue: #E0ECFF;
    --blue: #3485FF;
    --background: #FBFCFF;
    --overlay: #040911;
    --icons-details: #A5B0C1;

    --grey-dark: #4D5E77;
    --grey-blue: #A1B2CD;
    --grey-light: #E5EAF1;
    --grey-medium: #eaecf2;

    

    /* 1rem = 16px (User Agent) = 100% (User Agent */
    font-size: 62.5%; /* 10px */
}

h2 {
    font: size 12.8rem;
}

body {
    display: flex;
    height: 100vh;
    /* Aplicando a variavel */
    background: var(--background-);
}

 /* Se aplicarmos as configs direto no body, o buton, input e textarea não são englobados, por isso
 colocamos todos eles ai */
body, button, input, textarea {
    /* Intervalo de tamanho: no mínimo: 14px, o padrão: 1.6rem e no máximo: 2vw */
    font-size: clamp(14px, 1.6rem, 2vw);

    font-family: 'Open Sans', sans-serif;

}

.content {
    width: 100%;
    margin: 0 auto;
}

.screen-only {
   /* Código do css tawind para jogar a label para fora da tela */
   position: absolute;
   height: 100;
   width: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden; /* Para não ter barra de rolagem */
   clip-path: rect(0, 0, 0, 0);
   white-space: nowrap;
   border-width: 0;
}

/* --------- input and buttons */
input, button, .button {
    height: 5rem;
    border-radius: .8rem;
}

button, .button {
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 0; /* Espaçamento entre as LINHAS do texto. Foi/é colocado no atributo com uma linha apenas para que ele n ter nenhum espaçamento no botão e acabar desalinhando*/
    display: flex; /* Foi colocado pq tem uma imagem dentro, se não tivesse era só usar o text align (não alinha a img) */
    align-items: center; /* Para alinhar verticalmente */
    justify-content: center;
    
    background: var(--blue);
    color: var(--white);

    cursor: pointer;
}

button:hover, .button:hover{
    filter: brightness(1.2); /* Para aplicar um brilho */
    transition: 0.2s;
}

button > img,
.button > img {
    margin-right: 0.5rem;
    /* width: 2rem; */
}

button.outlined,
.button.outlined {
    background: var(--white);
    color: var(--blue);
    border: .2rem solid var(--blue);
}

button.red,
.button.red{
    background: var(--red);
    color: var(--white);
}

button.grey,
.button.grey{
    background: var(--grey-light);
    color: var(--grey);
}

/**** HEADER ****/

.content header {
    width: 80%; /* Vai siutar o logo em 80% da página */
    margin: 3.5rem auto;
}

.content header img {
    width: 16.7rem;

}