@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;700&display=swap');

.content {
    display: grid;
    /* Dividir a tela quantas vezes quiser, com porcentagens: */
    grid-template-columns: 60% 40%;
    grid-template-rows: 11.4rem 1fr;
    /* Se o tamanho não for exato, com porcentagens, dá pra colocar um tamanho e o restante fracionado */
    /* Nesse caso, 11.4rem é o tamanho exato da parte de cima, o header, já o 1fr é o restando que sobra para a imagem */
    grid-template-areas:  /* Com o areas, indicamos oque vai ocupar oque */
    'header header'
    'left right'
}

header {
    grid-area: header;
}

#bg {
    grid-area: left;

    background: url('/assets/home-bg-img.svg') no-repeat top/contain;
    /* no-repeat: para não repetir a img o top é para a img ir para o topo, e o contain é para ela se adaptar ao tamanho da div, ficar dentro do espaço dela, não vaza */
    background-position: -10rem;

}

main {
    grid-area: right;

    display:flex;
    align-items: center;
    margin-top: -12rem;
}

main .container {
    width: min(36.3rem, 100%) ; /* Adicionar o 100% garante que nossa aplicacação não irá quebrar devido a telas maiores */
}

main h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-size: clamp(20px, 5vw, 2.8rem);

    margin-bottom: 2.4rem; /* Essa margem foi descoberta vendo no figma, a distancia em px do texto h2 pro label */
}

input {
    border: .2rem solid var(--grey-blue);
    height: 4.8rem;
    padding: 0 1.6rem;
}

input, button, .button {
    width: 100%;
    margin-bottom: 1.8rem;
}


/* Separator line */
.separator {
    display: flex; /* para alinhar as linhas em uma linha KKKK */
    align-items: center; /* Alinhar as linhas com o 'ou' */

    margin: 4rem 0;
}

.separator div:nth-last-child(2){
    color: var(grey-blue);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 0 1.35rem;
    /* line-height: 0; */

}

/* nth = enésimo. Propriedade para aplicar as alterações apenas nos childs especificados */
.separator div:nth-child(1),
.separator div:nth-child(3){
    background: var(--grey-blue);
    width: 100%;
    height: 1px;

}

.ball {
    width: 21.2rem;
    height: 21.2rem;
    background: var(--blue);  
    clip-path: circle();
    opacity: 0.1;

    position: fixed; /* O objetivo fica na frente e por cima de tudo */
}

.ball.top {
    top: -44rem;
    right: -45rem;
    width: 63.3rem;
    height: 63.3rem;
    
}


.ball.bottom {
    bottom: -15rem;
    right : 5.6rem;
    
}